@import '@itwin/itwinui-css/scss/variables';
@import './utils/index';

.isr-details-table {
  height: 100%;
}

.isr-details-status {
  @each $status in positive, negative, warning, primary {
    &-#{$status} {
      color: var(--iui-color-foreground-#{$status});
    }
  }

  &-fatal {
    color: var(--iui-color-foreground-negative);
    background: rgba(var(--iui-color-foreground-negative-rgb), var(--iui-opacity-6));
  }

  &-critical {
    color: var(--iui-color-foreground-warning);
    background: rgba(var(--iui-color-foreground-warning-rgb), var(--iui-opacity-6));
  }
}

.isr-details-message {
  gap: $iui-s;
  justify-content: space-between;
}

.isr-details-more-button {
  // Hide the button by default
  @include visually-hidden;

  // Show the button when the row is hovered or when the cell has focus
  @at-root {
    .isr-details-row:hover &,
    .isr-details-slot-cell:focus-within & {
      @include not-visually-hidden;
    }
  }
}
