.isr-feedback-modal-text-container {
  display: flex;
  justify-content: flex-end;

  .isr-feedback-modal-text {
    cursor: pointer;
    color: var(--iui-icons-color-primary);

    &:hover {
      text-decoration: underline;
    }
  }
}

.isr-feedback-modal-body {
  display: flex;
  flex-direction: column;

  .isr-feedback-modal-question {
    margin-top: 16px;
    margin-bottom: 8px;
  }
}
