@import '@itwin/itwinui-css/scss/variables';

.isr-report-title {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.isr-title {
  font-size: $iui-font-size-title;
}
