@import '@itwin/itwinui-css/scss/variables';
@import '@itwin/itwinui-css/scss/icon/index.scss';
@import '@itwin/itwinui-css/scss/alert/alert.scss';

.isr-header-banner {
  @include iui-alert;
  background-color: var(--iui-color-background-3);
  margin: $iui-baseline 0;

  &-message:not(:last-child)::after {
    content: '';
    border-left: 1px solid black;
    margin-left: 16px;
  }

  &-message + &-message {
    margin-left: 0px;
  }

  .isr-status-icon:first-child {
    margin-left: $iui-m;
  }

  &.isr-negative {
    @include iui-alert-category($statusColor: 'negative', $rootSelector: '.isr-header-banner');
  }
}
