@import '@itwin/itwinui-css/scss/variables';
@import '@itwin/itwinui-css/scss/icon/index.scss';
@import '@itwin/itwinui-css/scss/alert/alert.scss';

.isr-header-banner {
  border-radius: $iui-border-radius;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  color: t(iui-text-color);
  border: 1px solid rgba(0, 0, 0, t(iui-opacity-4));
  background-color: t(iui-color-background-3);
  padding: $iui-xxs $iui-s;
  gap: $iui-xs;
  margin-bottom: $iui-baseline;

  &.isr-negative {
    @include iui-alert-category($statusColor: 'negative', $rootSelector: '.isr-header-banner');
  }
}

.isr-status-icon {
  @include iui-icons-default;

  &.isr-informational {
    fill: t(iui-icons-color-primary);
  }

  &.isr-positive {
    fill: t(iui-icons-color-positive);
  }

  &.isr-warning {
    fill: t(iui-icons-color-warning);
  }

  &.isr-negative {
    fill: t(iui-icons-color-negative);
  }
}
