@import '@itwin/itwinui-css/scss/menu/menu.scss';

.isr-report-header {
  display: grid;
  grid-template-areas:
    'a b'
    'c c'
    'd e ';
  padding-bottom: $iui-sm;
  gap: $iui-s;
}

.isr-header-title-wrapper {
  grid-area: a;
}

.isr-header-title {
  font-size: $iui-xl;
  margin-bottom: $iui-xs;
}

.isr-header-titleDate {
  font-size: $iui-sm;
  color: t(iui-text-color-muted);
}

.isr-header-close {
  grid-area: b;
  align-self: end;
  display: flex;
  gap: $iui-s;
  margin-bottom: auto;
  margin-left: auto;
}

.isr-header-issues {
  grid-area: c;
  border: 1px solid rgba(0, 0, 0, t(iui-opacity-4));
  background-color: t(iui-color-background-3);
  font-size: $iui-m;
  padding: $iui-xxs $iui-s;
  display: flex;
  flex-direction: row;
  gap: $iui-xs;
}

.isr-status-icon {
  @include iui-icons-default;
  padding: 3px;

  &.isr-informational {
    fill: t(iui-icons-color-primary);
  }

  &.isr-positive {
    fill: t(iui-icons-color-positive);
  }

  &.isr-warning {
    fill: t(iui-icons-color-warning);
  }

  &.isr-negative {
    fill: t(iui-icons-color-negative);
  }
}

.isr-header-supportWrapper {
  grid-area: e;
  margin-left: auto;
}

.isr-support-button {
  color: t(iui-icons-color-primary);
  cursor: pointer;
  margin-left: auto;
  user-select: none;

  &:hover {
    color: t(iui-color-foreground-primary-overlay);
    text-decoration: underline;
  }
}

.isr-support-debugIDWrapper {
  @include iui-dropdown;
  background-color: t(iui-color-background-1);
  position: absolute;
  z-index: 1;
  top: 170px;
  right: 60px;
  overflow: visible;
  line-height: 1.5em;
  padding: $iui-s;
  max-width: calc(100% - 200px);
}

.isr-support-debugID {
  &-title {
    font-weight: bold;
    width: 100px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: $iui-s;
    text-align: right;
  }

  &-id {
    display: inline-block;
    overflow: hidden;
    overflow-wrap: break-word;
    max-width: calc(100% - 108px);
  }
}

.isr-support-debugID-buttons {
  padding-top: $iui-s;
  display: flex;
  justify-content: space-between;
}
