@import '@itwin/itwinui-css/scss/variables';

.isr-report-main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  min-height: 0; // allow scrolling if total height overflows
}

// can't pass custom class name to wrapper
.iui-tabs-wrapper {
  min-height: 0;
}

.isr-report-tabs-content {
  min-height: 0;
  flex: 1;
}

.isr-report-table {
  height: 100%;
}
