@import '@itwin/itwinui-css/scss/menu/menu.scss';
@import '@itwin/itwinui-css/scss/variables';

.isr-report-service-request-support {
  margin-left: auto;
  position: relative;
}

.isr-support-open {
  color: var(--iui-icons-color-primary);
  cursor: pointer;
  user-select: none;

  &:hover {
    color: var(--iui-color-foreground-primary-overlay);
    text-decoration: underline;
  }
}

.isr-support-debugIDWrapper {
  @include iui-dropdown;
  position: absolute;
  z-index: 1;
  right: 50%;
  overflow: visible;
  line-height: 1.5em;
  padding: $iui-s;
  min-width: max-content;
}

.isr-support-debugID {
  &-title {
    font-weight: bold;
    width: 100px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: $iui-s;
    text-align: right;
  }

  &-id {
    display: inline-block;
    overflow: hidden;
    overflow-wrap: break-word;
    max-width: 1000px;
  }
}

.isr-support-service-request-buttons {
  padding-top: $iui-s;
  display: flex;
  justify-content: space-between;
}
