@import '@itwin/itwinui-css/scss/icon/variables';

.isr-status-icon {
  width: $iui-icons-default;
  height: $iui-icons-default;

  &-success {
    fill: var(--iui-icons-color-positive);
  }

  &-error {
    fill: var(--iui-icons-color-negative);
  }

  &-warning {
    fill: var(--iui-icons-color-warning);
  }

  &-informational {
    fill: var(--iui-icons-color-primary);
  }
}
