@import '@itwin/itwinui-css/scss/icon/variables';

.isr-line-clamp {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-break: break-all;
}

.isr-tooltip-icon {
  display: flex;
  align-items: center;

  svg {
    width: $iui-icons-default;
    height: $iui-icons-default;
    fill: var(--iui-icons-color);
  }
}
